# Site
name: 'Styleofme'
description: 'I'm nicer when i like my outfit'
logo: 'assets/styleofme/logo/logo.png'
favicon: 'assets/styleofme/logo/logo.png'
baseurl: 'homepage'
avatar: 'assets/images/sal.jpg'
disqus: 'website'
email: 'khanhtcp.2301@gmail.com'

include: ["_pages"]
permalink: /:title/

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
      
# Syntax
markdown: kramdown
highlighter: rouge

# Pagination
paginate: 20


# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]