<!--  Replace footer social links here -->
<!--Hear is icon https://www.w3schools.com/icons/fontawesome_icons_brand.asp-->


<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.facebook.com/styleofmehcm" class="text-dark"><i class="fab fa-facebook-f"></i></a></li>

<!--<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://github.com/wowthemesnet" class="text-dark"><i class="fab fa-github"></i></a></li>-->

<!--<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://twitter.com/wowthemesnet" class="text-dark"><i class="fab fa-twitter"></i></a></li>-->

<!--<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://plus.google.com/+WowthemesNet" class="text-dark"><i class="fab fa-google-plus"></i></a></li>-->


<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://shopee.vn/styleofme1902" class="text-dark"><i class="fas fa-cart-plus"></i></a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.instagram.com/styleofme.hcm" class="text-dark"><i class="fab fa-instagram"></i></a></li>

<!--<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.tiktok.com/@styleofme1902" class="text-dark"><i class="fab fa-tiktok"></i></a></li>-->


